body{
    background-color: antiquewhite;
}
header{
    background-color: whitesmoke;
    margin: 40px 30px 60px;
}



.column{
    float: left;
    width: 33.3%;
}
.row::after{
    content: " ";
    display: table;
}
.image{
    height: 60%;
    width: 50%;
    float: left;
    border-radius: 50%;
}
