body{
    background-image: url(projects1.jpeg);
}
header{
    background-color: whitesmoke;
    margin: 40px 30px 60px;
}
.image{
height: 60%;
width: 50%;
float: left;
border-radius: 50%;

}
.column{
    float: left;
    width: 33.3%;
}
.row::after{
    content: " ";
    display: table;
}
